@model Szuhafo.Module.ViewModels.FoglalasPartViewModel

<fieldset class="form-group">
    <label asp-for="Nev">Név</label>
    <input type="text" asp-for="Nev" class="form-control" />
    <span asp-validation-for="Nev" class="text-danger"></span>
    <span class="hint">A foglalást végzõ személy teljes neve.</span>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Email">E-mail cím</label>
    @* A type="email" használata biztosítja az alapvetõ böngészõ oldali validációt *@
    <input type="email" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <span class="hint">A kapcsolattartáshoz szükséges e-mail cím.</span>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Erkezes">Érkezés idõpontja</label>
    @* A type="datetime-local" egy natív HTML5 dátum- és idõválasztót jelenít meg *@
    <input type="datetime-local" asp-for="Erkezes" class="form-control" />
    <span asp-validation-for="Erkezes" class="text-danger"></span>
</fieldset>

<fieldset class="form-group">
    <label asp-for="Tavozas">Távozás idõpontja</label>
    <input type="datetime-local" asp-for="Tavozas" class="form-control" />
    <span asp-validation-for="Tavozas" class="text-danger"></span>
</fieldset>